@import url("common.css");

.image-container {
    background-size: 100% 900px;
    background-image: url("https://nurseryschool.wustl.edu/files/2017/09/170914_jjn_nursery_school_008.jpg");
}

.schedule-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.schedule-section h2 {
    color: rgb(85, 85, 85);
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    margin-block-end: 20px;
    margin-block-start: 0px;
}

.schedule-section h3 {
    color: rgb(85, 85, 85);
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin-block-end: 15px;
    margin-block-start: 20px;
}

.schedule-section p {
    color: rgb(85, 85, 85);
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin-block-end: 15px;
    margin-block-start: 0px;
}

.hours-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.hours-option {
    flex: 1;
    min-width: 250px;
    padding: 1.5em;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 4px;
}

.hours-option h3 {
    color: #a51417;
    font-size: 20px;
    font-weight: 600;
    margin-block-end: 10px;
    margin-block-start: 0px;
}

.hours-time {
    font-size: 18px;
    font-weight: 600;
    color: rgb(85, 85, 85);
    margin-block-end: 10px;
}

.bear-tracks-info {
    margin-top: 1.5em;
}

.bear-tracks-info ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-left: 2em;
}

.bear-tracks-info li {
    color: rgb(85, 85, 85);
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin-block-end: 10px;
}

.learn-more-link {
    color: #a51417;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.learn-more-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .hours-container {
        flex-direction: column;
    }
    
    .hours-option {
        min-width: 100%;
    }
}
